<% include partials/header.ejs %>
<% include partials/footer.ejs %>

<main>

<h1>
  Hello! Welcome To The Home Page!
</h1>

<br/>
<br/>




  <fieldset>
  <h2>Reminders!</h2>
  <p> There's always enough time to choose your passions and work over it.
    We are responsible for driving ourselves to the top! 
     Remember to take your hands off of things that you can't control and get your hands on what you can change.
     <br/>
     <br/>
     
     :) 

    </p>
  
  <p class="auto-style5">
  <a class="auto-style11" >

  <blockquote><i>"The only time you should ever look back, is to see how far you've come." BTS </i></blockquote>
  </span></p>
</fieldset>
  
  </main>



<!-- <div id="wrapper">

  <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= userName %></p> --
  
    

    <h2>Welcome to the Home Page!</h2>

<div class="container">
  <img src="/images/imagebg.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>Reminders!</h1>
        <p>There's always enough time to choose your passions and work over it.
           We are responsible for driving ourselves to the top! </p>
           <br/>
           <p> Remember to take your hands off of things that can't controlled and get your hands on what you can change. 

           </p>

           <br/>
           <br/>
           <h2><i> The only time you should ever look back, is to see how far you've come. - BTS</i></h4>
         
      </div>
</div> -->






<!-- Scripts -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/public/javascripts/extrascript.js"></script>

</body>
</html>


