<% include partials/header.ejs %>
<% include partials/footer.ejs %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <main>

    <h1>
      Services Page!
    </h1>
    
    <br/>
    <br/>
    
      <fieldset>
      <h2>Form!</h2>
      
    </fieldset>
      
      </main>
</html>