/* <!-- FileName: Assignment1
  Author: Mehreen Abdul Rahman
Student ID: 301169356
Date: 02-10-2021 --> */
/* background styles */
body {
  background-image: url('/assets/images/bgimage.jpg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* header styles */
header{background-color: #358597;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

/* heading styles */
h1{margin:0; padding: 10px;
font-family: Georgia, "Times New Roman", serif; 
font-size: 3em;
letter-spacing: 0.25;}

/* table styles */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* main content styles */
main{
  margin: 50px;
padding:30px;
align-items: center;
background-color: #6d6968;
color: #ffffff;}

/* styles for main navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}

/* footer styles */
footer{text-align: center;
font-style: italic;
background-color: #333;
color: #ffffff;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}
